:root{
    font-size: 10px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    background-color:  #1c252e;
    font-size: 1.6rem;
    height: 100vh;
}

.slides_wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width:60vw;
    overflow: hidden;
}

.radio {
    display: none;
}

.slides{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 65vh;
    margin-bottom: 2rem;
    width: 60vw;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.img{
    border-radius: 2rem;
    width: 60vw;
    height: 65vh;
}

.descr_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_wrapper{
    display: flex;
    width: 40vw;
    overflow: hidden;
}

.text{
    color: #ffffff;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.descr_1,
.descr_2,
.descr_3,
.descr_4 {
    min-width: 40vw;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.label{
    border: 0.5rem solid transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.select_point{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: #7fa8d0;
}

.label:hover div {
    background: #ffffff;
}

.label:active div {
    background:#1c252e;
}

#img_1:checked ~ .descr_wrapper .buttons_wrapper .buttons .label_1 div,
#img_2:checked ~ .descr_wrapper .buttons_wrapper .buttons .label_2 div,
#img_3:checked ~ .descr_wrapper .buttons_wrapper .buttons .label_3 div,
#img_4:checked ~ .descr_wrapper .buttons_wrapper .buttons .label_4 div {
    background:#1c252e;
    border:0.3rem solid #7fa8d0;
}

#img_1:checked ~ .slides {
    margin-left: 0;
}
  
#img_2:checked ~ .slides {
    margin-left: -100%;
}
  
#img_3:checked ~ .slides {
    margin-left: -200%;
}
  
#img_4:checked ~ .slides {
    margin-left: -300%;
}  

#img_1:checked ~ .descr_wrapper .text_wrapper .text{
    margin-left: 0;
}

#img_2:checked ~ .descr_wrapper .text_wrapper .text{
    margin-left: -100%;
}

#img_3:checked ~ .descr_wrapper .text_wrapper .text{
    margin-left: -200%;
}

#img_4:checked ~ .descr_wrapper .text_wrapper .text{
    margin-left: -300%;
}

@media (max-width: 768px) {
    .descr_wrapper{
        flex-direction: column-reverse;
    }

    .text_wrapper{
        margin-top: 3rem;
        align-self: flex-start;
    }

    .slides,
    .img {
        height: 45vh;
    }
}

.link{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: #d1e6f3;
}